* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.bg-rosso {
    background-color: red;
}

.bg-verde {
    background-color: green;
}

.bg-grigio {
    background-color: gray;
}

.text-center {
    text-align: center;
}

.text-white {
    color: white;
}

.font-bold {
    font-weight: 700;
}

.border-top {
    border-top: 2px solid black;
}
.border-right {
    border-right: 2px solid black;
}
.border-left {
    border-left: 2px solid black;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

#container .content {
    width: 700px;
    height: 300px;
    margin: auto;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: yellow;
}

.dado-block {
    display: flex;
}

.dado-block p {
    flex: 0 0 50%;
}
