* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.rosso {
    background-color: red;
}

.verde {
    background-color: green;
}

.text-center {
    text-align: center;
}

.text-white {
    color: white;
}

.font-bold {
    font-weight: 700;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

#container .content {
    width: 700px;
    height: 300px;
    margin: auto;
    border: 2px solid black;
}

.dado-block {
    display: flex;
}

.dado-block p {
    flex: 0 0 50%;
}
